{% extends 'base.html' %}

{% block content %}
{#
<div class="menu">
    {% if 'username' in session %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>
#}
{% set brand_pk = request.args.get('brand') %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <form>
                <select name="brand">
                    <option value="0"{% if not brand_pk %} selected{% endif %}>
                        &nbsp;
                    </option>
                    {% for b in brands %}
                    <option value="{{ b.pk }}"{% if b.pk == brand_pk|int %} selected{% endif %}>
                        {{ b }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Применить">
            </form>
        </div>
        <div class="col-9">
            <h1>Добро пожаловать!</h1>
            {% for p in phones %}
            <p>{{ p }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
